.checkout-container{width: 50%;
    height: 450px;
background-color: #ffff;
margin: auto;}

.container-orden-compras{background-color: #ffff;
width: 50%;
height: 450px;
background-color: #ffff;
margin: auto;}